<!-- campus.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus</title>
    <style>
        .expired {
            color: red;
        }
        .not_expired{
            color:black;
        }
    </style>
</head>
<body>
HI
<ul>
    <li class="not_expired">Test list element (outside condition)</li>
    <% campusData.forEach(person => { %>
        <li class="<%= person.isExpired ? 'expired' : 'not_expired' %>"><%= person.name, person.exit_time %></li>
    <% }); %>
</ul>
</body>
</html>
