<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/security_home.css">
<div class="campus_info">
    <div>Total no. of people in campus: 100</div>
    <div>Total Residents: 70</div>
    <div>Total Visitors: 30</div>
    <div>Expired Visitors: 4</div>
    <div>Residents outside campus: 42</div>
</div>
<div class="card-container">
    <div class="card" style="width: 23rem;">
        <img src="/images/database.png" class="card-img-top security" alt="...">
        <div class="card-body">
            <h5 class="card-title">Residents</h5>
            <p class="card-text">Access restricted to authorized individuals only.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <img src="/images/qrscanner.png" class="card-img-top visitor" alt="...">
        <div class="card-body">
            <h5 class="card-title">Visitors</h5>
            <p class="card-text">Sign up swiftly, receive your QR code, and log your entry into the premises.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

</div>

<script src="/javascripts/home.js"></script>