<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/securityhome.css">
<div class="card-container">
    <div class="card_database card">
        <img src="/images/database.png" class="card-img-top security image" alt="...">
        <div class="card-body">
            <h5 class="card-title">Database</h5>
            <p class="card-text">Access restricted to authorized individuals only.</p>
            <a href="security/database" class="btn">Access</a>
        </div>
    </div>

    <div class="card_scanner card">
        <img src="/images/qrscanner.png" class="card-img-top visitor image" alt="...">
        <div class="card-body">
            <h5 class="card-title">QR Scanner</h5>
            <p class="card-text">Sign up swiftly, receive your QR code, and log your entry into the premises.</p>
            <a href="security/scanner" class="btn">Access</a>
        </div>
    </div>

</div>
<script src="/javascripts/home.js"></script>