<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/security_home.css">
<div class="card-container">
    <div class="card" style="width: 23rem;">
        <img src="/images/database.png" class="card-img-top security" alt="...">
        <div class="card-body">
            <h5 class="card-title">Database</h5>
            <p class="card-text">Access restricted to authorized individuals only.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

    <div class="card" style="width: 23rem;">
        <img src="/images/qrscanner.png" class="card-img-top visitor" alt="...">
        <div class="card-body">
            <h5 class="card-title">QR Scanner</h5>
            <p class="card-text">Sign up swiftly, receive your QR code, and log your entry into the premises.</p>
            <a href="#" class="btn">Go somewhere</a>
        </div>
    </div>

</div>

<script src="/javascripts/home.js"></script>