<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus</title>
    <style>
        .person{

        }
    </style>
</head>
<body>
HI
<ul>
    <% residentData.forEach(person => { %>
        <li class="person"><%= person.name%></li>
    <% }); %>
</ul>
</body>
</html>
