<!DOCTYPE html>
<html lang="en">
<head>
    <%layout("layouts/boilerplate")%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visitor Log</title>
    <link rel="stylesheet" href="/stylesheets/visitorlog.css">
</head>
<body>
<div class="page-container">
    <div class="heading-container">
        <h1>Visitor Database</h1>
    </div>
    <div class="namecontainer">
        <div class="header">
            <span class="name-heading">Name</span>
            <span class="exit-time-heading">Exit Date/Time</span>
        </div>
        <% campusData.forEach(person => { %>
            <div class="data-row">
                <span id = "person" class="name expired"><%= person.name %></span>
                <span id="personExit" class="exit-time expired"><%= person.exit_time %></span>
            </div>
        <% }); %>
    </div>
</div>

<script>
        // Reload the page every 7 seconds (7000 milliseconds)
        setInterval(function() {
        location.reload();
    }, 7000);
</script>

</body>
</html>