<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="card-container">
<div class="card" style="width: 23rem;">
    <img src="/images/security.svg" class="card-img-top security" alt="...">
    <div class="card-body">
        <h5 class="card-title">Security Personnel</h5>
        <p class="card-text">Access restricted to authorized individuals only.</p>
        <a href="#" class="btn">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 23rem;">
    <img src="/images/visitor.png" class="card-img-top visitor" alt="...">
    <div class="card-body">
        <h5 class="card-title">Visitor</h5>
        <p class="card-text">Sign up swiftly, receive your QR code, and log your entry into the premises.</p>
        <div class="buttons">
            <a href="/visitor/signup" class="btn">Register</a>
            <a href="/visitor/login" class="btn">Login</a>
        </div>
    </div>
</div>

<div class="card" style="width: 23rem;">
    <img src="/images/resident.svg" class="card-img-top resident" alt="...">
    <div class="card-body">
        <h5 class="card-title">Resident</h5>
        <p class="card-text">First-time users register here. Returning residents, log in to receive your QR code for quick entry/exit.</p>
        <div class="buttons">
            <a href="/resident/login" class="btn">Login</a>
        </div>
    </div>
</div>
</div>

<script src="/javascripts/home.js"></script>