<%layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div class="background"></div>
    <div class="profile-container">
    <div class="header">
        <h3>Visitor Profile Page</h3>
    </div>

    <% if (currentVisitor && (visitor._id == currentVisitor)) {%>

    <div class="inner-container">
        <div class="card">
            <img src="/images/profile.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= visitor.name%></h5>
                <p class="card-text">Phone Number: <%=visitor.phone_number%></p>
            </div>
        </div>
        <div class="form-container">
        <%if (!visitor.qrcode) {%>

        <form action="/visitor/<%=visitor._id%>/profile" method="POST" class="row g-3 needs-validation" novalidate>
            <div class="col-md-6">
                <label for="vehicle_number" class="form-label">Vehicle number: </label>
                <input type="text" class="form-control" id="vehicle_number" name="visitor[vehicle_number]" placeholder="AB12AB1234" required>
                <div class="invalid-feedback">
                    Please enter a valid vehicle number!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-6">
                <label for="tenure" class="form-label">Tenure (in hours): </label>
                <input type="number" class="form-control" id="tenure" name="visitor[tenure]" required>
                <div class="invalid-feedback">
                    Please enter a number!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-12">
                <label for="concerned_with" class="form-label">Concerned With: </label>
                <input type="text" class="form-control" id="concerned_with" name="visitor[concerned_with]" required>
                <div class="invalid-feedback">
                    Please enter a reason!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div><div class="col-12">
                <label for="reason" class="form-label">Reason: </label>
                <textarea class="form-control" id="reason" name="visitor[reason]"></textarea>
                <div class="invalid-feedback">
                    Please enter a reason!
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn">Generate QR</button>
            </div>
        </form>

        <%} else {%>
            <div class="qrcode">
                <img src="<%=visitor.qrcode%>" alt="qr_code">
            </div>
        <%}%>
        </div>
        <%} else {%>
            <h3>Unauthorized Access ❌❌</h3>
        <%}%>
        </div>
    </div>